.container {
    width: 1060px;
    margin: 0 auto;
    padding: 46px 138px 0;
}
.main-bg {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}
.promo{
    width: 165px;
    float: left;
}
.logo{
    width: 46px;
    height: 44px;
    background-image: url("../img/logo1.png");
    float:left;
}

.logo-right {
    width: 104px;
    float: right;
}
.logo-text{
    font-family: Verdana;
    color:#ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    padding-bottom: 5px;
}

.logo-text-small{
    font-family: Verdana;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.contacts{
    float: right;
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    line-height: 1.5;
}

.header{
    margin-bottom:48px;
}
.promo:hover p{
    color: #f26522;
}

.promo:hover .logo{
    background-image: url("../img/logo.png");
}
.orange{
    float:left;
    position: absolute;
    left:0;
    right: 0;
    padding-right:10px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #f26522;
    transition: all 0.4s linear;
    opacity: 0;
    margin-top: -73px;
}
.info-left {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
    float:left
}
.info-left p:nth-child(2){
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.info-right {
    position: relative;
    top: 21px;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    float: right;
}
h6{
    font-family: Verdana;
    color:#ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 22px;
}

.block-example{
    position:relative;
    float:left;
    margin-right: 69px;
    margin-bottom: 98px;
}
.block-example img{
    border-top:2px solid white;
    /*border-left: 2px solid;
    border-right: 2px solid;
    border-image: linear-gradient(to bottom, white,black) 1 100%;*/
    box-shadow: 0 5px 10px 1px black;
}
.block-example:nth-child(3){
    position:relative;
    float:left;
    margin-right: 0;
    margin-bottom: 98px;
}
.block-example:hover .orange {
    opacity: 1;
}
.block-example:hover h6 {
    color:#f26522;
}
a{
    text-decoration:none;
}
h5{
    font-family: Verdana;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
